[client]
port= 3306
socket={{ data_path }}/data/mysql.sock

[mysqld]
#master一般设置为1
server-id=1
sync_binlog = 1
binlog_checksum = none

auto-increment-increment = 2
auto-increment-offset = 1
slave-skip-errors = all

#开启binlog
log-bin=mysql-bin
#binlog格式：混合。如不设置，默认为SBR模式，在导入含innodb表的数据库时会出错
binlog_format = mixed
binlog-row-image=full #5.6以后才开始支持（此处要用full,不要用minimal）
#设置自动清理binlog日志，可能根据网站访问量和硬盘可用空间来定义这个值，15天清理一次
expire_logs_days=15
#开启gtid
gtid_mode=on
#开启从库写入binlog
log-slave-updates=on
#强制gtid一致性，开启后对于特定create table不被支持
enforce-gtid-consistency=true

port=3306
datadir={{ data_path }}/data
basedir={{ data_path }}
socket={{ data_path }}/data/mysql.sock
user=app

#指定日志和pid位置#
log-error={{ data_path }}/data/mysql-error.log
pid-file={{ data_path }}/data/mysqld.pid

#MySQL全文索引查询关键词最小长度限制调为1
ft_min_word_len=1

#开启timestamp自动更新#
explicit_defaults_for_timestamp=true

#关闭符号链接支持#
symbolic-links=0

#不区分大小写#
lower_case_table_names=1

#禁用DNS解析#
skip-name-resolve

#INNODB重点优化参数：缓存用户表及索引数据，一般设置为系统内存的50%，但是得根据实际预留#
innodb_buffer_pool_size=4G

#MyISAM重点优化参数：指定索引缓冲区的大小，它决定索引处理的速度，尤其是索引读的速度#
key_buffer_size=32M

#分配简单索引扫描，范围索引扫描，无索引全表扫描的表连接 缓存的大小#
join-buffer-size=2M

#在每个connection（session）第一次需要使用这个buffer的时候，一次性分配设置的内存#
sort-buffer-size=4M

#读查询操作所能使用的缓冲区大小，该参数对应的分配内存也是每连接独享#
read_buffer_size=4M

#针对按某种特定顺序(如ORDER BY子句)输出的查询结果(默认256K)加速排序操作后的读数据，提高读分类行的速度#
read_rnd_buffer_size=16M

#MyISAM表发生变化时重新排序所需的缓冲#
myisam_sort_buffer_size=128M

#关闭query-cache#
query-cache-size=0
query_cache_type=0

#临时HEAP数据表的最大长度#
tmp_table_size=256M

#重新利用保存在缓存中线程的数量#
thread_cache_size=64

#开启慢日志查询#
log-slow-admin-statements
slow-query-log=on
slow-launch-time=2
slow-query-log-file={{ data_path }}/data/mysql-slow.log

#表描述符缓存大小,可减少文件打开/关闭次数#
table-open-cache=1024

#设置最大连接(用户)数#
max-connections=3000

#如果某一客户端尝试连接此MySQL服务器，但是失败（如密码错误等等）5000次，则MySQL会无条件强制阻止此客户端连接#
max_connect_errors=5000

#不写入硬盘而是写入系统缓存#
#日志仍然会每秒flush到硬盘，所以你一般不会丢失超过1-2秒的更新，只会在整个操作系统挂了时才可能丢数据#
innodb_flush_log_at_trx_commit=2

#限制server接受的数据包大小#
max_allowed_packet=300M

#设置编码格式#
collation-server=utf8mb4_general_ci
init-connect='SET NAMES utf8mb4'
character-set-server=utf8mb4

#忽略客户端字符集#
skip-character-set-client-handshake

#开启了log-bin创建function需要开启
log_bin_trust_function_creators=1
sql-mode="NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
group_concat_max_len=2000

#捕捉死锁到error日志
innodb_print_all_deadlocks=1
